@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

.container-shadow {
  box-shadow: -30px 20px 100px 10px rgba(251, 24, 78, 0.47),
    30px -20px 100px 10px rgba(0, 87, 255, 0.47);
}

input[type="text"] {
  padding: 0.5rem 0.8rem;
  font-weight: bold;
}
